@import "tailwindcss";



body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1010px;
  max-width: 1010px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

